/* FONTS:

'Josefin Sans',sans-serif
'Poiret One', cursive
'Play', sans-serif
'Quicksand', sans-serif *****
'Varela', sans-serif
'Comfortaa',cursive
'Actor', sans-serif
'Syncopate',sans-serif


*/

html,body{
	margin:0;
	height:100%;
	
	position:relative;
}


header{
	top:0px;
	height:auto;
}

#top h1{
	font-family:'Quicksand', sans-serif;
	font-size:170pt;
	position:relative;
	width:100%;
	margin-top:0;
	text-align:center;
	line-height:95%;
}
#top{
	background-color:rgba(30,30,30,50);
	width:100%;
	height:100vh;
}
a{
	text-decoration:none;
	color:white;
}

#top h1 a{
	top:0px;
}


button{
	
}